#root {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}
.title {
    font-family: 'Bowlby One SC', 'Arial';
    font-size: 60px;
}

#backdrop {
    width: 100%;
    height: 100%;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-center {
    padding: 50px;
  color: white; 
  position: absolute; 
  top: 100px; 
  left: 0; 
  width: 100%; 
}

.backdrop_wrapper {
    width: 104%;
    height: 91%;
    overflow: hidden;
}